body {
    font-family: 'Lato', 'sans-serif';
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;
}

#app {
    padding: 10px;
    font-size: 14px;
}

.login-form {
    width: 50%;
}

#footer {
    clear: both;
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 3em;
    margin-bottom: 5px;
    padding-top: 5px;
    width: inherit;
    border-top: 1px solid whitesmoke;
    color: #666;
    font-size: 13px;
    text-align: center;
}

/* Graphs */
path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}