@(message: String, u: Option[String], p: Option[String])

@main("Zing - Monitor your apps!", u, p) {

    <div id="app">
        <h1><i class="ui rocket icon"></i> Dashboard</h1>
        <div id="items">
            <table class="ui large table segment">
              <thead>
                <tr><th>id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Graph</th>
              </tr></thead>
              <tbody id="itemsbody">
                
              </tbody>
            </table>

            <a class="ui small blue button" href="/addEntry"><i class="ui add icon"></i> Add New Entry</a>
        </div>
    </div>

}
